<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Lista de Consultas</title>
</head>
<body>
<h2>Lista de Consultas</h2>
<a th:href="@{/consulta/form}">Nova Consulta</a><br><br>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Data/Hora</th>
    <th>Valor</th>
    <th>Observação</th>
    <th>Paciente</th>
    <th>Médico</th>
    <th colspan="2">Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="c : ${consultas}">
    <td th:text="${c.id}"></td>
    <td th:text="${#temporals.format(c.data, 'dd/MM/yyyy HH:mm')}"></td>
    <td th:text="'R$ ' + ${c.valor}"></td>
    <td th:text="${c.observacao}"></td>
    <td th:text="${c.paciente?.nome}"></td>
    <td th:text="${c.medico?.nome}"></td>
    <td><a th:href="@{/consulta/edit/{id}(id=${c.id})}">Editar</a></td>
    <td><a onclick="return window.confirm('Excluir Registro?')" th:href="@{/consulta/remove/{id}(id=${c.id})}">Excluir</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>